.cont-form_reserva{
	width: 100%;

	margin: auto;
	margin-top: 20px; 
	margin-bottom: 20px;

	padding: 20px;
	box-sizing: border-box;

	background-color: #fff;

	display: flex;
	flex-direction: column;
}
.cont-form_reserva .form-row{
	flex-direction: column;
	margin: 0;
}

@media only screen and (min-width: 48em){
	.cont-form_reserva{
		width: 40%;
		
		margin-top: 100px;
		padding: 20px;		
		
		border-radius: .25rem;

		-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
	}
	.cont-form_reserva .form-row{
		flex-direction: row;
	}

	.cont-form_reserva .form-row .form-group{
		width: 50%;
	}

@media only screen and (min-width: 64em) {
	.cont-form_reserva {
		margin-top: 40px;
	}
}
}