.form-check-in{
    width: 20%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

    padding: 20px;
    box-sizing: border-box;

    background-color: #fff;
    border-radius: .25rem;

    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

.asientos{
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-confirmar{
    position: relative;
    left: 180px;
    margin-bottom: 10px;
}

input[type="checkbox"] + label:before {
    content: "";
    width: 26px;
    height: 26px;
    float: left;
    /*margin: 0.5em 0.5em 0 0;*/
    margin: 3px;
    background: #a7eba7;
}
input[type="checkbox"]:checked + label:before {
    background-color: #49b349;
}
input[type="checkbox"] + label:hover {
    background-color: #61c961;
    cursor: pointer;
}

input[type="checkbox"]:disabled + label:before {
    background-color: #e06363;
}
input[type="checkbox"] {
    display: none;
}
