.asientos{
    width: 200px;
    margin: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-check-in button{
    margin-top: 20px;
    margin-left:820px;
}