.cont-info{	
    width: 100%;
    margin: auto;         
}
.cont-info .card{	
	border-style: none;

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}
.cont-info .card-img-top{
	width: 100%;	
	border-radius: unset;
}

.num-nivel{
	margin-left: 10px;
	padding: 5px 10px 5px 10px;

	border: solid 1px rgba(0,0,0,.125);
	border-radius: .25rem;
}

@media only screen and (min-width: 48em){
	.cont-info{		
		margin: auto;		 							
		margin-top: 110px;
		display: flex;
		justify-content: center;
	}	

	.cont-info .card{		
		flex-direction: row;
		align-items: flex-start;
		padding: 20px;
		box-sizing: border-box;
	}
	.cont-info .card-img-top{
		width: 500px;
		height: 333px;
	}

	.cont-info .card-body{
		padding-top: 0px;
		margin-left: 20px;
	}
	
}
@media only screen and (min-width: 64em){
	.cont-info{					
		margin-top: 50px;
	}
}