.cont-form_usuarios_extra{
	width: 100%;

	margin: auto;
	margin-top: 58px; 
	margin-bottom: 20px;

	padding: 20px;
	box-sizing: border-box;

	background-color: #fff;

	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 48em){
	.cont-form_usuarios_extra{
		width: 50%;
		
		margin-top: 100px;
		padding: 20px;	
		
		border-radius: .25rem;

		-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
	}	

	.form_usuarios_extra{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.form_usuarios_extra form{
		margin-top: 20px;
	}

@media only screen and (min-width: 64em){
	.cont-form_usuarios_extra{		
		margin-top: 40px;
	}
}